[submodule "third/hiredis-vip"]
	path = third/hiredis-vip
	url = https://github.com/vipshop/hiredis-vip.git
[submodule "third/rocksdb"]
	path = third/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/Qihoo360/slash.git
[submodule "third/googletest"]
	path = third/googletest
	url = https://github.com/google/googletest.git
